
body{
  background-color: darkgreen;
  display: grid;
  grid-template-columns: repeat(2, [col] 300px);
}
#info {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  background-color: darkgreen;
  margin: 100 auto;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
#left {
  border-radius: 100px;
  background-color: darkgreen;
}
button {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  grid-column: 1;
}
#board {
  display: grid;
  background-color: darkgreen;
  grid-template-columns: repeat(2, [col] 90px);
  /* background-color: whitesmoke; */
  background-color: whitesmoke;
  width: fit-content;
  border: #000;
  grid-column: 1;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
}
#numbers {
  display: grid;
  width: fit-content;
  background-color: darkgreen;
}
.num-row > div {
  /* background-color: green; */
  /* color: whitesmoke; */
  /* border-color: whitesmoke;
  border-style: inset;
  border-width: 2px; */
  text-align: center;
}
.num-section {
  display: grid;
}
.num-row {
  display: grid;
  grid-template-columns: repeat(3, [col] 30px);
  grid-template-rows: 30px;
  vertical-align: middle;
}
.numBet {
  /* display: flex; */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;

}
.numBetRed {
  /* display: flex; */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: red;

}
.numBetZero {
  /* display: flex; */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: green;

}
.numBetChip {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  /* display: inline-block;   */
}
.outsideBet {
  /* margin: auto; */
  align-items: center;
  text-align: center;
  vertical-align: auto;
}
#zeroes > div{
  grid-template-columns: repeat(2, [col] 45px);
  color: darkgreen;
}
#outside-bets {
  display: grid;
  grid-template-columns: repeat(2, [col] 45px);
}
.column {
  display: grid;

}
.column div {
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  vertical-align: middle;
}
#column-A {
  grid-template-rows: repeat(6, [row] 60px);
}
#column-B {
  grid-template-rows: repeat(3, [row] 120px);
}
img {
  width: 240px;
  grid-column: 1;
  justify-content: center;
}
#G {
  font-size: 65%;
}
#last-spin {
  grid-column: 2;
}
#bet-board {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}
.bet-card {
  color: whitesmoke;
  background-color: #bbb;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.bet {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
}
.bet-card p{
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  margin: 10px;
  width: 80px;
}
.bet > button {
  margin: auto;
  width: 25px;
}